.Home {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;

        p {
            text-align: center;
             width: 30rem;
        }

}