.User-Detail {
    display:flex;
    border: 1px solid rgb(228, 228, 228);
    border-radius: 15px;
    padding: 2rem;
    margin-top: 3rem;

    .body-text {
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        margin-left: 2rem;
    
        h2 {
            margin: 0;
        }
    }
}
