.UsersList {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 3rem;
    width: 70%;
    height: 100vh;

    .user-card {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        max-width: 7rem;
        margin: 1rem;
        padding: 3rem;
        border: 1px solid rgb(228, 228, 228);
        border-radius: 15px;

        .body-text {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;

            p {
                margin: 0;
                margin-top: 0.2rem;
            }
        }
    }
}

.user-picture {
    background-color: rgb(210, 210, 210);
    height: 70px;
    width: 70px;
    border-radius: 50%;
    margin-bottom: 1rem;
}